body {
    display: flex;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.rickshaw_legend {
    padding: 0 0 4px 0;
    width: 100%;
}

.rickshaw_legend .line {
    padding: 0;
}

.hover-value {
    display: inline-block;
    padding-left: 8px;
    min-width: 120px;
}

.disabled .hover-value {
    color: transparent;
}

div#test-name {
    margin: 12px 0;
    text-align: center;
}

div#legend {
    font-size: inherit;
    font-family: 'Open Sans', sans-serif;
    background-color: inherit;
    color: inherit;
}

div#legend ul {
    padding: 0;
}

div#legend li {
    display: inline-block;
}

div#main {
    margin: 20px auto;
}

div#graph {
    border-right: 1px solid #f0f0f0;
}

div#slider {
    margin-top: 20px;
}

div#panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 8px 10px;
    color: hsl(210,30%,85%);
    background-image: url(background-noise-toolbar.png), linear-gradient(#3e4750, #3e4750);
    border-top: 1px solid #060a0d;
    box-shadow: 0 1px 0 hsla(204,45%,98%,.05) inset, -1px 0 0 hsla(204,45%,98%,.05) inset, 0 -1px 0 hsla(204,45%,98%,.05) inset;
}

div#buttons {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

div#add-log {
    display: inline-block;
    cursor: default;
}

.button {
    font-size: 80%;
    text-align: center;
    min-height: 22px;
    min-width: 58px;
    padding: 2px 8px;
    text-shadow: 0 -1px 0 hsla(210,8%,5%,.45);
    border: 1px solid hsla(210,8%,5%,.45);
    border-radius: 3px;
    background: linear-gradient(hsla(212,7%,57%,.35), hsla(212,7%,57%,.1)) padding-box;
    box-shadow: 0 1px 0 hsla(210,16%,76%,.15) inset, 0 0 0 1px hsla(210,16%,76%,.15) inset, 0 1px 0 hsla(210,16%,76%,.15);
    margin: 0 0 8px 0;
    color: inherit;
}

.button:hover {
    background-color: transparent !important;
}

.button:hover:active {
    border-color: hsla(210,8%,5%,.6);
    background: linear-gradient(hsla(220,6%,10%,.3), hsla(212,7%,57%,.15) 65%, hsla(212,7%,57%,.3));
    box-shadow: 0 0 3px hsla(210,8%,5%,.25) inset, 0 1px 3px hsla(210,8%,5%,.25) inset, 0 1px 0 hsla(210,16%,76%,.15);
}

div.log-controls {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.log-controls + div.log-controls {
    margin-top: 4px;
    padding-top: 4px;
}

div#message {
    text-align: center;
    overflow: auto;
    margin: auto;
    position: absolute;
    height: 10em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

input {
    font-size: 100%;
    min-height: 22px;
    border: 1px solid hsla(210,8%,5%,.6);
    border-radius: 2px;
    background-color: transparent;
    background-image: linear-gradient(hsla(210,16%,76%,.15), hsla(210,16%,76%,.35));
    padding: 3px;
    box-shadow: 0 1px 1px hsla(210,8%,5%,.3) inset,
    0 0 0 1px hsla(210,16%,76%,.1) inset,
    0 1px 0 hsla(210,16%,76%,.15);
    color: inherit;
}
